// ==================================
// SCSS/_STATE.SCSS
// ==================================

/* States */
@import "state/extends";

// Above 992
@include bp-large-min {

}

// Above 768
@include bp-medium-min {

}

// Below 991
@include bp-large {

}

// Below 767
@include bp-medium {
  .alignleft, .alignright {
    margin-left: 0 !important;
    margin-right: 0 !important;
    float: none;
  }
}

// Below 480
@include bp-small {

}