// ==================================
// SCSS/_STATE.SCSS
// ==================================

/* States */
@import "state/extends";

@include bp-large-min {

}

@include bp-medium-min {
  
}

@include bp-medium {

  .alignleft, .alignright {
    margin-left: 0 !important;
    margin-right: 0 !important;
    float: none;
  }
}

@include bp-small {
  
}