// ==================================
// SCSS/MODULES/_ALIGNMENTS.SCSS
// ==================================

.alignright {
  float: right;
  margin: 0 0 25px 35px;
}

.alignleft {
  float: left;
  margin: 0 35px 25px 0;
}

.alignnone {
  
}