// ==================================
// SCSS/MODULES/_SPACING.SCSS
// ==================================

.mbn {
  margin-bottom: 0 !important;
}

.mtn {
  margin-top: 0 !important;
}

.man {
  margin: 0 !important;
}

// HR
hr {
  border: none;
  width: 100%;
  height: 1px;

  &.primary {
    background-color: $color-prim;
  }
}